/*homeloginrepair*/

.homeloginrepair{
    min-height: 0px !important;
    margin-bottom: 0px;
}
.homeloginrepair a{
    color: black;
}
.repair{
    margin-top: 20px;   
}
.repair ul{
    list-style: none;   
}
.repair .over{
    height: 110px !important;
    overflow: hidden;
}
.repair .post{
    margin-bottom: 20px;   
}
