/*Homelogin navbar*/
.homelogin{
    margin-bottom: 0;
    min-height: 0px !important;
}
.homelogin a{
    color: black;
}



.button-bar{
    margin-top: 10px;
    
}
.posting{
    margin-bottom: 10px;   
}

.customer ul{
    list-style: none;  
}